Repository mongodb-js/mongodb-mcp-server, pull requests merged in 2025-09, with the labels that each got.

#515 fix: typings for mongodb-connection-string-url
  src/common/connectionManager.ts
  src/helpers/connectionOptions.ts
  src/types/mongodb-connection-string-url.d.ts
  tsconfig.build.json
Labels: no-title-validation

#554 feat(atlas-local): Accuracy tests for Atlas Local
  tests/accuracy/createDeployment.test.ts
  tests/accuracy/deleteDeployment.test.ts
  tests/accuracy/listDeployments.test.ts
Labels: accuracy-tests

#562 fix: pin yargs-parser to 21 for VSCode compatibility
  package-lock.json
  package.json
Labels: no-title-validation

#573 feat(explain): Add support for custom verbosity to the explain plan tool
  src/tools/mongodb/metadata/explain.ts
  tests/integration/tools/mongodb/metadata/explain.test.ts
Labels: accuracy-tests

#536 fix: add guards against possible memory overflow in find and aggregate tools MCP-21
  src/common/config.ts
  src/common/logger.ts
  src/helpers/collectCursorUntilMaxBytes.ts
  src/helpers/constants.ts
  src/helpers/operationWithFallback.ts
  src/tools/mongodb/read/aggregate.ts
  src/tools/mongodb/read/find.ts
  src/tools/tool.ts
  tests/accuracy/export.test.ts
  tests/accuracy/find.test.ts
  tests/accuracy/insertMany.test.ts
  tests/accuracy/untrustedData.test.ts
  tests/integration/indexCheck.test.ts
  tests/integration/tools/mongodb/read/aggregate.test.ts
  tests/integration/tools/mongodb/read/find.test.ts
  tests/unit/helpers/collectCursorUntilMaxBytes.test.ts
  tests/unit/helpers/operationWithFallback.test.ts
Labels: accuracy-tests

#581 chore: add missing expectations for accuracy tests
  scripts/accuracy/runAccuracyTests.sh
  tests/accuracy/collectionIndexes.test.ts
  tests/accuracy/explain.test.ts
Labels: no-title-validation, accuracy-tests

#580 fix(schema): Use sample instead of find for schema sampling
  src/helpers/isObjectEmpty.ts
  src/tools/mongodb/metadata/collectionSchema.ts
  tests/integration/common/isObjectEmpty.test.ts
  tests/integration/tools/mongodb/metadata/collectionSchema.test.ts
Labels: accuracy-tests
